/* 
    Created on : Oct 12, 2014, 4:05:57 PM
    Author     : Anton Radev
*/

@import 'mixins';
@import 'colors';


body {
    font-family: 'Open Sans', sans-serif;
    @include noisy-background();
}

@import 'elements/header';

.whitespace {
    height: 10px;
}

.posts-container {
    background-color: $whitie;
    padding: 20px;
}
.sidebar-container {
    background-color: #f0f0f0;
    padding: 20px;
}

.btn, .form-control {
    @include border-radius(0);
}