/* 
    Created on : Oct 12, 2014, 4:05:57 PM
    Author     : Anton Radev
*/

@import 'mixins';

.app-nav {
    margin: 20px 0;
    padding: 0;
    background-color: #f0cf63;
    overflow: hidden;
    @include border-radius(3px); 
    li {
        float: left;
        list-style: none;
        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #f0cf63;
            color: #863300;
            cursor: pointer;
        }
        a:hover {
            background-color: #b95f27;
            color: #fff;
            text-decoration: none;
        }
        a.active {
            background-color: #b95f27;
            color: #fff;
            text-decoration: none;
        }
    }
}